# Cartelle e file di build
/build/
/build_*/

# File di configurazione generati
sdkconfig.old

# File di log
*.log

# File temporanei
*.tmp
*.bak

# File di core dump
core

# File di output di compilazione
*.elf
*.bin
*.hex
*.map

# File di configurazione di Visual Studio Code
.vscode/

# File di configurazione di Eclipse
.cproject
.project
.idea/

# File di configurazione di CLion
cmake-build-debug/
cmake-build-release/

# File di HMI che vengono generati dal front-end 
main/HMI.c
main/HMI.h